{% extends "base.html" %}

{% block title %}{{ article.title }} - {{ SITENAME }}{% endblock title %}

{% block head %}
	{{ super() }}
	{% for keyword in article.keywords %}
	<meta name="keywords" contents="{{keyword}}" />
	{% endfor %}

	{% for description in article.description %}
	<meta name="description" contents="{{description}}" />
	{% endfor %}

	{% for tag in article.tags %}
	<meta name="tags" contents="{{tag}}" />
	{% endfor %}

	{% if article.translations %}
		{% if DEFAULT_LANG == 'fr' %}
		<link rel="alternate" href="{{ I18N_SUBSITES.fr.SITEURL }}/{{ article.url }}" hreflang="fr" />
		{% endif %}
		{% if DEFAULT_LANG == 'en' %}
		<link rel="alternate" href="{{ I18N_SUBSITES.en.SITEURL }}/{{ article.url }}" hreflang="en" />
		{% endif %}

		{% for translation in article.translations %}
		<link
			rel="alternate"
			href="{{ I18N_SUBSITES[translation.lang].SITEURL }}/{{ translation.url.replace('./', '') }}"
			hreflang="{{ translation.lang }}" />
		{% endfor %}

	{% endif %}

{% endblock %}

{% block content %}
<article>

	{% include "navigation.html" %}
	<header{% if article.image %}
		class="image {{ article.image_color_title }}"
		style="background-image: url({{ article.image}});"
	{% endif %}>
		<div>
			<h1>
			  {{ article.title }}
			</h1>
			{% if DEFAULT_LANG == 'fr' %}
			<p>Publié le {{ article.date | strftime('%d %b %Y')  }}</p>
			{% endif %}
			{% if DEFAULT_LANG == 'en' %}
			<p>Published on {{ article.date | strftime('%b %d, %Y')  }}</p>
			{% endif %}
		</div>

		{% import 'translations.html' as translations with context %}
		{{ translations.translations_for(article) }}

	</header>


	<section>
	{{ article.content }}
	</section>

	<footer>
		<div>
			{% if DEFAULT_LANG == 'fr' %}
			<p>Écrit par <span><a href="https://sebastienbarbier.fr" target="_blank">sebastienbarbier</a></span></p>
			{% endif %}
			{% if DEFAULT_LANG == 'en' %}
			<p>Written by <span><a href="https://sebastienbarbier.com" target="_blank">sebastienbarbier</a></span></p>
			{% endif %}
			<ul>
			{% for p in pages %}
				<li><a href="{{ SITEURL }}/{{ p.url }}">{{ p.title }}</a></li>
		    {% endfor %}
			</ul>
		</div>
	</footer>

</article>
{% endblock %}
