@font-face {
    font-family: 'latin_modern_roman10_regular';
    src: url('../fonts/lmroman10-regular-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latin_modern_roman10_bold';
    src: url('../fonts/lmroman10-bold-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latin_modern_roman10BdIt';
    src: url('../fonts/lmroman10-bolditalic-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'latin_modern_roman10_italic';
    src: url('../fonts/lmroman10-italic-webfont.woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'open_sansbold';
    src: url('../fonts/OpenSans-Bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanslight';
    src: url('../fonts/OpenSans-Light-webfont.woff') format('woff'),;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sanssemibold';
    src: url('../fonts/OpenSans-Semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

