nav {
	font-family: "open_sansregular";
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}

nav a {
	cursor: pointer;
	position: absolute;
	top: 45px;
	left: 60px;
	color: black;
	text-decoration: none;
	transform: translateX(0px);
	transition: transform 0.3s linear;
}

@media screen and (max-width: 599px) {
	nav a  {
		top: 25px;
		left: 20px;
	}
}
@media screen and (min-width: 600px) and (max-width: 999px) {
	nav a  {
		top: 38px;
		left: 30px;
	}
}

nav a svg {
	vertical-align: middle;
	padding-right: 4px;
}
